
# FVM Version Cache
.fvm/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/generated/
!integration_test/visual_regression/generated/
test/mock/generate.mocks.dart
test/vrt/**/failures**
devtools_options.yaml

# Files and directories created by pub
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/