# NOTE: このworkflowは未検証です。CI/CD運用のためのテンプレートとして作成しました。
name: release test

on:
  push:
    branches:
      - hoge
env:
  KEYCHAIN_PASSWORD: "P@ssw0rd"

jobs:
  unit_test:
    runs-on: macos-14

    name: Unit Test

    steps:
      - uses: actions/checkout@v2

      - name: Info Show Xcode list
        run: ls /Applications | grep 'Xcode'

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_14.0.app/Contents/Developer'

      - name: Info Simulator Lists
        run: xcrun simctl list

      - name: Info Check Available destination
        run: xcodebuild build -scheme Runner-UnitTests -showdestinations
